.container {
  padding: 20px;
  margin-top: 40px;
}

.partnerForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.partnerList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.partnerCard {
  display: flex;
  align-items: flex-start;
  background: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.partnerCard img {
  width: 100px;
  margin-right: 20px;
}


.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modalContent {
  background: white;
  padding: 30px;
  border-radius: 16px;
  width: 100%;
  max-width: 500px;
  position: relative;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.2);
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
