.reviewTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 15px;
  margin-top: 50px;
}

.reviewTable th,
.reviewTable td {
  border: 1px solid #ccc;
  padding: 8px;
  vertical-align: top;
  text-align: left;
}

.reviewTable th {
  background-color: #f7f7f7;
}

.visibleReview {
  opacity: 0.5;
}

.reviewTable button{
  border: none;
  margin-top: 5px;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.reviewTable button:hover{
  background-color: #69A64B;
}