.room {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.roomTitle {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.roomTitle_title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
    color: #34343C;
}

.numberInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.numberInfo_left {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    gap: 45px;
}

.numberInfo_left__slider {
    width: 60%;
    height: 520px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.numberInfo_left__slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.numberInfo_left__desc {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.numberInfo_left__desc___item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}

.numberInfo_left__desc___item:nth-child(2n+2) {
    background-color: #C1C1C1;
}

.numberInfo_right {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 60%;
    box-shadow: 0px 4px 46.4px 0px #B4B4B440;
    padding: 30px 50px;
    border-radius: 20px;
    margin-top: 40px;
}

.numberInfo_right__title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
    color: #34343C;
}

.numberInfo_right__desc {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0%;
    vertical-align: middle;
}

.numberInfo_right__desc___items {
    display: flex;
    justify-content: space-between;
}

.numberInfo_right__desc___items____block {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.numberInfo_right__desc___items____block_____title {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 33.6px;
}

.numberInfo_right__desc___items____block____elements {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.numberInfo_right__desc___items____block____elements div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.numberInfo_right__desc___items____block____elements p {
    background-color: var(--black_color);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #DDDDDD;
    margin-bottom: 50px;
}

.table_row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table_row__element {
    width: 25%;
    border: 1px solid #DDDDDD;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    text-align: center;
}

.button {
    padding: 13px 75px;
    background-color: var(--black_color);
    color: var(--white_color);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 80px;
}


.roomInfoData {
    display: flex;
    align-items: center;
    gap: 30px;
}

.roomInfoData_rating {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
}

.roomInfoData_feedback,
.roomInfoData_adress {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #8C8C8C;
}

.roomInfoData_button {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #4872F2;
    cursor: pointer;
}

.numberInfo_bron {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.numberInfo_bron_calendar {
    box-shadow: 0px 4px 46.4px 0px #B4B4B440;
    /* height: fit-content; */
    height: 320px;
    border-radius: 20px;
    padding: 40px;
}

.numberInfo_bron_service span {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #8C8C8C;
    text-align: center;
}

.numberInfo_bron_service a {
    color: #000;
}

.numberInfo_bron_service {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 24px;
    line-height: 21px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.numberInfo_bron_dop {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    vertical-align: middle;
    cursor: pointer;
}

@media (min-width: 0px) and (max-width: 1299px) {
    .numberInfo {
        flex-direction: column;
        gap: 20px;
    }

    .numberInfo_left {
        width: 100%;
        padding: 10px;
        order: 2;
    }

    .numberInfo_left__slider {
        height: 200px;
    }

    .numberInfo_left__desc___item {
        font-size: 12px;
        padding: 5px 10px;
    }

    .numberInfo_right {
        width: 100%;
        order: 1;
        padding: 10px;
        gap: 20px;
    }

    .numberInfo_right__desc {
        margin: 0;
        font-size: 14px;
        line-height: normal;
    }

    .numberInfo_right__desc___items {
        flex-direction: column;
        gap: 20px;
    }

    .numberInfo_right__desc___items____block {
        width: 100%;
        gap: 10px;
    }

    .numberInfo_right__desc___items____block_____title {
        text-align: center;
    }

    .numberInfo_right__desc___items____block____elements {
        font-size: 12px;
    }

    .numberInfo_right__desc___items____block____elements p {
        width: 16px;
        height: 16px;
        padding: 3px;
    }

    .numberInfo_right__desc___items____block____elements p img {
        width: 100%;
    }

    .numberInfo_right__title {
        font-size: 22px;
    }
}