.BlockTopInfo {
    min-height: 375px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 30px;
    overflow: hidden;
    padding: 75px;
    color: var(--white_color);
}

.BlockTopInfo_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.BlockTopInfo_topTitle {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 800;
    line-height: 60px;
    text-align: center;
}

.BlockTopInfo_title {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
}

.BlockTopInfo_text {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    width: 50%;
}

.BlockTopInfo_link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--white_color);
    padding: 16px 50px;
    border-radius: 30px;
}

.BlockTopInfo_link__text {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var(--black_color);
}

.information {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.information_title {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 24.38px;
}

.information_text {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    color: var(--white_color);;
}

@media (min-width: 0px) and (max-width: 1299px) {
    .BlockTopInfo{
        padding: 20px;
        gap: 20px;
        border-radius: 0;
        min-height: auto;
    }

    .BlockTopInfo_text{
        width: 100%;
        font-size: 14px;
        line-height: normal;
    }

    .BlockTopInfo_block{
        gap: 20px;
    }

    .BlockTopInfo_topTitle{
        font-size: 32px;
        line-height: normal;
    }
    .BlockTopInfo_title{
        font-size: 24px;
        line-height: normal;
    }

    .BlockTopInfo_link{
        padding: 10px 15px;
        border-radius: 10px;
    }
    .BlockTopInfo_link__text{
        font-size: 14px;
    }
}