.tabs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.tabButtons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;
}

.tabButtons div {
    padding: 15px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8C8C8C;
    background-color: var(--white_color);
    border-radius: 60px;
    width: 18%;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.tabButtons div:hover,
.tabButtons .active {
    border: 1px solid #ffffff00;
    box-shadow: 0px 4px 14.7px 0px #D9D9D9A3;
}


.tabContent {
    width: 100%;
    box-shadow: 0px 4px 46.4px 0px #B4B4B440;
    padding: 80px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: justify;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}