.multidayTours {
    width: 100%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
}

.multidayTours_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.multidayTours_top__title {
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    text-transform: uppercase;
}

.multidayTours_top__add {
    color: var(--black_color);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--black_color);
    border-radius: 30px;
    padding: 15px 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.multidayTours_top__add:hover {
    color: var(--white_color);
    background-color: var(--black_color);
}

.multidayTours_back button {
    color: var(--black_color);
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 170px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.multidayTours_back button img {
    width: 14px;
}

.mb40 {
    margin-bottom: 40px;
}

.gids {
    display: flex;
    flex-direction: column;
    padding: 30px 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    /* outline: 1px solid red; */
}

.gidsButtons{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.gidsButtons button{
    height: 44px;
    background-color: inherit;
    padding: 13px 24px;
}

.gids_info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid var(--black_color);
}

.gids_info:last-child {
    border: none;
}

.gids_info__img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.gids_info__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gids_info__elem {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 24.38px;
    display: flex;
    gap: 10px;
    width: 20%;
}

.gids_info__elem:nth-child(1) {
    width: 30%;
}

.gids_info__access {
    color: #169A4C;
    border-radius: 30px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
}

.gids_info__noAccess {
    color: #9a2516;
    border-radius: 30px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

.gids_info__changeBTN {
    background: var(--black_color);
    border-radius: 30px;
    padding: 10px 15px;
    color: var(--white_color);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gids_info_data {
    display: flex;
    align-items: center;
    width: calc(100% - 210px);
    gap: 50px;
}


.listBron {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2px;
    /* background-color: #575656; */
    border-radius: 15px;
}

.listBronTop{
    background-color: #F4F4F4;
}

.listBron li {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    align-items: center;
    border-radius: 10px;
}

.listBron li:nth-child(2n) {
    /* background-color: #ececec; */
}

.listBronItem {
    width: 15%;
}

.listBronItemButton{

}

.listBronItem:nth-child(1) {
    width: 12%;
}

.listBronItem:nth-child(2) {
    width: 30%;
}

.listBronItem:nth-child(3) {
    width: 20%;
}

.listBronItem:nth-child(7) {
    width: 20%;
    display: flex;
    justify-content: center;
    text-align: center;
}


.titleBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titleBlockPrice {
    font-size: 18px;
}

.filters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.searchBlock {
    width: 100%;
}

.searchBlock input {
    width: 100%;
    border: 1px solid #8C8C8C;
    border-radius: 10px;
    padding: 12px 15px;
    font-family: Montserrat;
    font-size: 16px;
    outline: none;
}

.filterBlock {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.filterBlock input:nth-of-type(1) {
    width: 30%;
    border: 1px solid #8C8C8C;
    border-radius: 10px;
    padding: 12px 15px;
    font-family: Montserrat;
    font-size: 16px;
    outline: none;
    border-radius: 20px;
    border: 1px solid #D1D1D1;
}

.filterBlock select {
    width: 15%;
    border: 1px solid #8C8C8C;
    border-radius: 10px;
    padding: 12px 15px;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 16px;
    outline: none;
    border: 1px solid #D1D1D1;
}

.filterBlock input:nth-of-type(2) {
    width: 15%;
    border: 1px solid #8C8C8C;
    border-radius: 10px;
    padding: 12px 15px;
    font-family: Montserrat;
    font-size: 16px;
    outline: none;
    border-radius: 20px;
    border: 1px solid #D1D1D1;
}

.confirmedStatus{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* background-color: #fff; */
    color: #10AB5E;
    
}

/* .confirmedStatus img{
    width: 13px;
    height: 10px;
    outline: 1px solid red;
} */

.statusConfirmCash {
    /* background-color: rgba(255, 166, 0, 0.2) !important; */
}

.statusConfirmRequest {
    /* background-color: rgba(0, 0, 255, 0.2) !important; */
}

.statusConfirmDone {
    /* background-color: rgba(0, 128, 0, 0.2) !important; */
}

.listBronItem button {
    /* padding: 10px; */
    /* width: 100%; */
    padding: 10px 24px;
    cursor: pointer;
    border: 1px solid #000;
    background-color: inherit;
    font-size: 12px;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
}

.listBronItem button:hover {
    background-color: #000;
    color: #fff;
}