.fullBlock {
    display: flex;
    flex-direction: column;
    gap: 65px;
    padding: 65px 0;
}

.objects {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 26px;
}

.nonFoundFavorites {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 45vh;
}

@media (min-width: 0px) and (max-width: 1299px) {
    .fullBlock {
        padding: 20px 10px;
        gap: 20px;
    }

    .fullBlock h2 {
        text-align: center;
    }

    .objects {
        justify-content: center;
        gap: 20px 10px;
    }
}