.team {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.team_img {
    width: 100%;
    height: 380px;
    border-radius: 20px;
    overflow: hidden;
}

.team_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team_title {
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
    text-align: center;
    text-transform: uppercase;
}

.team_text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24.38px;
    text-align: center;
}


@media (min-width: 0px) and (max-width: 1299px) {
    .team{
        width: 48% !important;
        gap: 10px;
    }

    .team_img{
        height: 200px;
        border-radius: 0;
    }

    .team_img img{
        border-radius: 20px;
    }

    .team_title{
        font-size: 18px;
        line-height: normal;
    }

    .team_text{
        width: 100%;
        font-size: 14px;
        line-height: normal;
    }
}