.container {
  display: flex;
  width: 100%;
}

.containerLeft {
  display: flex;
  flex-direction: column;
  width: 381px;
  height: 100vh;
  padding-left: 80px;
  padding-top: 24px;
  padding-right:;
  background-color: #F2F2F2;
}
