.about_title {
    display: flex;
    border-radius: 30px;
    justify-content: space-between;
    align-items: center;
    background: url("/about_title.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.about_title__left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
}

.about_title__right {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 60px;
    background-color: var(--white_color);
    width: 55%;
    border: 1px solid #658FB0;
    border-radius: 0 30px 30px 0;
}

.about_title__right___name {
    font-size: 32px;
    font-weight: 600;
    line-height: 39.01px;
}

.about_title__right___text {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}

.info_block_text {
    width: 45%;
}

.mission {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    gap: 30px;
    background: url("/mission_bg.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 40px;
    border-radius: 30px;
}

.mission_line {
    display: flex;
}

.mission_title {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    color: var(--white_color);
}

.mission_text {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    color: var(--white_color);
    width: 80%;
    margin: 0 auto;
}


@media (min-width: 0px) and (max-width: 1299px) {
    .about_title {
        flex-direction: column;
        border-radius: 0;
        background-size: auto;
        background-position: top;
    }

    .about_title__left {
        width: 100%;
        height: 200px;
    }

    .about_title__left img{
        width: 150px;
    }

    .about_title__right {
        width: 100%;
        border-radius: 0;
        padding: 20px;
        gap: 20px;
        border: none;
    }

    .about_title__right___text {
        font-size: 14px;
        line-height: normal;
        text-align: justify;
    }

    .about_title__right___name {
        text-align: center;
    }

    .mission_line{
        display: none;
    }

    .mission{
        border-radius: 0;
        padding: 20px;
        gap: 20px;
    }

    .mission_text{
        margin: 0;
        width: 100%;
        font-size: 14px;
        line-height: normal;
        text-align: justify;
    }
}