/* 
.admin_data__info::-webkit-scrollbar{
    width: 0;
} */

.addData {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 40px;
}

.addData_title {
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    text-transform: uppercase;
}

.addData .noBorder {
    border: none;
    padding: 0;
    border-radius: 0;
}

.addData_subtitle {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 48px;
}