* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* scroll-behavior: smooth; */
}

:root {
    --blockWidth: 1300px;
    --white_color: #fff;
    --black_color: #000000;
    --dark_color: #181818;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    background-color: #fff;
}

main {
    min-height: 100vh;
    min-height: 100svh;
}

.nonFoundPage {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black_color);
    color: var(--white_color);
    font-size: 28px;
}

.swiper-button-prev {
    color: var(--black_color);
    border: 1px solid var(--black_color);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    left: -90px;
}

.swiper-button-next {
    color: var(--black_color);
    border: 1px solid var(--black_color);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    right: -90px;
}

.tourPhotos .swiper-button-prev {
    color: var(--white_color);
    border: 1px solid var(--white_color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 20px;
}

.tourPhotos .swiper-button-next {
    color: var(--white_color);
    border: 1px solid var(--white_color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    right: 20px;
}

.tourPhotos .swiper-button-prev:after {
    font-size: 25px;
    margin-right: 5px;
}

.tourPhotos .swiper-button-next:after {
    font-size: 25px;
    margin-left: 5px;
}

.swiper-button-prev:after {
    font-size: 35px;
    margin-right: 5px;
}

.swiper-button-next:after {
    font-size: 35px;
    margin-left: 5px;
}

.swiper {
    overflow: visible;
    height: 100%;
}

.swiper::before {
    content: "";
    position: absolute;
    top: 0;
    left: -130px;
    background-color: var(--white_color);
    height: 100%;
    width: 11%;
    z-index: 2;
}

.swiper::after {
    content: "";
    position: absolute;
    top: 0;
    right: -130px;
    background-color: var(--white_color);
    height: 100%;
    width: 11%;
    z-index: 2;
}

.numberSlider .swiper-button-prev {
    color: var(--black_color);
    background-color: #FFFFFFB2;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    left: 10px;
}

.numberSlider .swiper-button-next {
    color: var(--black_color);
    background-color: #FFFFFFB2;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    right: 10px;
}


.numberSlider .swiper-button-prev:after {
    font-size: 20px;
    font-weight: 600;
    margin-right: 2px;
}

.numberSlider .swiper-button-next:after {
    font-size: 20px;
    margin-left: 2px;
    font-weight: 600;
}