
.objects_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    width: 32%;
}

.objects_item__img {
    width: 100%;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
}

.objects_item__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.objects_item__bottom {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.objects_item__title {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
}

.objects_item__price {
    display: flex;
    gap: 15px;
    align-items: center;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.objects_item__button {
    border: 1px solid #8C8C8C;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 30px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    cursor: pointer;
    color: var(--black_color);
    transition: all 0.3s ease-in-out;
}

.objects_item__button:hover{
    background-color: var(--black_color);
    color: var(--white_color);
}